/*body {
    background-color: rgb(196, 127,37);
}*/

nav {
    height: 200px;
    border: 10px black dotted;
    background-color:#00FF00 ;
}


main {
    
    height: auto;
    background-color:lightblue;
}

footer {
    
    height: 100px;
    background-color: gold;
    padding: 35px;
    margin-top: 35px;
}

.titulo {
    text-align: center;
}

.titulo_3 {
    color: white;
    text-align: center;
    background-color: red;
}

.foto {
    height: 350px;
    width: 250px;
    margin: 10px;
    border-radius: 23px 22px 21px 23px;
}