body  {
    padding: 0;
    margin: 0;
}

.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    position: fixed;
}

ul {
    list-style: none;
}


.log-container {
    display: flex;
    align-items: center;   
}
 .option-menu a {
    padding: 25px;
 }

 .carousel_slide img {
      width:100%;
 }

 .search {
    padding: 15px       ;
 }

 .Shopping_car {
    padding: 15px;
 }
 .user {
    padding: 10px;
 }

 .text_one {
    position: absolute;
    bottom: 280px;
    text-align: center; 
    margin: 14px 14px 14px 14px;
 }
 
 .buttons {
    position: absolute;
    bottom: 150px;
    display: flex;
    align-items: center;
    margin: 40px;
    padding: 10px;
 }

 .button_1 {
    width: 100px;
 }

 .button_2 {
    margin: 10px;
    height: auto;
    width: 100px;
 }

 /*AQUI EMPIEZAN LOS ESTILOS DE ABOUT US*/

 .container-information  {
            display: flex;
            align-items: center;
            position: relative;
            top: 180px;
 }


 .banner_1 { 
    position: relative;
    top: 130px;
}
 
.container-information img {
    width: 80%;
    margin: 60px;
}

.text_inf {
    margin: 60px;
    top: 100px;
}